.activities-list {
  @include breakpoint-max($tablet-end) {
    display: none;
  }

  @include breakpoint($desktop) {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--projects-item-gap));
    margin-left: calc(-1 * var(--projects-item-gap));

    &__item {
      margin-top: var(--projects-item-gap);
      margin-left: var(--projects-item-gap);
      flex-basis: calc((100% - 90px) / 3);
      position: relative;
    }

    &__subtitle {
      position: absolute;
      bottom: 0;
      left: 0;

      padding-top: 27px;
      padding-bottom: 27px;
      width: 100%;

      color: var(--main-title-color);
      background-color: rgba(47, 48, 58, 0.8);
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      text-align: center;
      letter-spacing: 0.03em;
      text-transform: uppercase;
    }
  }
}
