.customers-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--projects-item-gap));
  margin-left: calc(-1 * var(--projects-item-gap));

  &__item {
    flex-basis: calc((100% - 60px) / 2);
    margin-top: var(--projects-item-gap);
    margin-left: var(--projects-item-gap);
    width: 100%;
    height: 92px;
  }

  &__link {
    @include flex-center;
    width: 100%;
    height: 100%;

    border: 1px solid var(--icon-color);
    border-radius: 4px;

    transition: border 250ms var(--animation-timing-function);

    &:hover,
    &:focus {
      border-color: var(--accent-color);
    }
  }

  &__icon {
    width: 106px;
    height: 60px;

    fill: var(--icon-color);

    transition: fill 250ms var(--animation-timing-function);

    .customers-list__link:hover &,
    .customers-list__link:focus & {
      fill: var(--accent-color);
    }
  }

  @include breakpoint($tablet) {
    &__item {
      flex-basis: calc((100% - 90px) / 3);
    }
  }

  @include breakpoint($desktop) {
    &__item {
      flex-basis: calc((100% - 180px) / 6);
    }
  }
}
