.priorities-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--projects-item-gap));
  margin-left: calc(-1 * var(--projects-item-gap));

  &__item {
    margin-top: var(--projects-item-gap);
    margin-left: var(--projects-item-gap);
    flex-basis: 100%;
  }

  &__icon-container {
    @include flex-center;
    margin-bottom: 30px;
    width: 100%;
    height: 120px;

    background-color: var(--background-color);
    border-radius: 4px;
  }

  &__icon {
    width: 70px;
    height: 70px;
  }

  &__title {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
  }

  &__text {
    font-size: 14px;
    line-height: 1.71;
  }

  @include breakpoint-max($mobile-end) {
    &__title {
      text-align: center;
    }
  }

  @include breakpoint($tablet) {
    &__item {
      flex-basis: calc((100% - 60px) / 2);
    }
  }

  @include breakpoint($desktop) {
    &__item {
      flex-basis: calc((100% - 120px) / 4);
    }
  }
}
