.logo {
  font-family: Raleway, sans-serif;
  font-size: 24px;
  @include lineheight(28px, 24px);

  color: var(--accent-color);

  &--light-theme {
    color: var(--logo-decoration-color);
  }

  &--dark-theme {
    color: var(--main-title-color);
  }

  &--bottom-gap {
    display: inline-block;
    margin-bottom: 20px;
  }

  @include breakpoint($tablet) {
    &--margin-right {
      margin-right: 88px;
    }
  }

  @include breakpoint($desktop) {
    &--margin-right {
      margin-right: 93px;
    }

    font-size: 26px;
    line-height: 1.19;
  }
}
