.open-menu {
  &__btn {
    padding: 0;
    width: 40px;
    height: 40px;
    @include flex-center;

    border: 0;
    background-color: inherit;
  }

  &__icon {
    width: 40px;
    height: 40px;

    transition: fill 250ms var(--animation-timing-function);

    .open-menu__btn:hover &,
    .open-menu__btn:focus & {
      fill: var(--accent-color);
    }
  }

  @include breakpoint($tablet) {
    display: none;
  }
}
