.menu {
  position: absolute;
  top: 0;
  right: 0;

  width: 480px;
  height: 796px;

  background-color: var(--main-title-color);

  transition: all 250ms var(--animation-timing-function),
    opacity 250ms var(--animation-timing-function);

  .backdrop.is-hidden & {
    opacity: 1;
  }

  &__close-button {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 10px;
    right: 15px;
    width: 40px;
    height: 40px;

    cursor: pointer;
  }

  &__close-icon {
    width: 19px;
    height: 19px;

    transition: fill 250ms var(--animation-timing-function);

    .modal__close-button:hover &,
    .modal__close-button:focus & {
      fill: var(--accent-color);
    }
  }

  @include breakpoint($tablet) {
    display: none;
  }
}
