.container {
  margin: 0 auto;
  padding: 0 15px;

  &--indention {
    padding-top: 118px;
    padding-bottom: 118px;
  }

  @include breakpoint($mobile) {
    width: $mobile;
  }

  @include breakpoint($tablet) {
    width: $tablet;
  }

  @include breakpoint($desktop) {
    width: $desktop;
    &--indention {
      padding-top: 200px;
      padding-bottom: 200px;
    }

    &--show {
      display: flex;
      justify-content: space-between;
    }
  }
}
