.title {
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 28px;
  @include lineheight(32.8, 28);
  text-align: center;

  @include breakpoint-max($tablet-end) {
    &--display-none {
      display: none;
    }
  }

  @include breakpoint($desktop) {
    margin-bottom: 50px;

    font-size: 36px;
    line-height: 1.17;
  }
}

.subtitle,
.title {
  color: var(--title-text-color);
}
