:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --background-color: #f5f4fa;
  --main-title-color: #ffffff;
  --logo-decoration-color: #000000;
  --contacts-color: rgba(255, 255, 255, 0.6);
  --footer-color: #2f303a;
  --icon-color: #afb1b8;
  --projects-item-gap: 30px;
  --animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
